body {
  margin: 0;
  text-align: center;
  font-family: Merriweather, arial, sans-serif;
}

div {
  margin-left: 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: Ephesis, cursive, sans-serif;
  font-size: 90px;
  color: #00A19D;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #00A19D;
}

h3 {
  color: #FFB344;
}

a {
  color: #E05D5D;
  text-decoration: none;
}

a:hover {
  color: #FF00E4;
}

hr {
  margin: 0;
}

.hrDotted {
  border: dotted #525252 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.spy {
  padding-top: 100px;
}

.topContainer {
  background-color: #FFF8E5;
  position: relative;
  padding-top: 100px;
}

.resumeTopContainer{
  background-color: #FFF8E5;
  padding-top: 10px;
  line-height: 2;
  padding-bottom: 20px;
}

.resumeH1 {
  margin: 0;
}

.resumeBody{
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.middleContainer {}

.bottom-container {
  background-color: #FFF8E5;
  padding: 30px;
}

.contact-me {
  padding: 50px;
  margin: 0;
}
.pro {
  text-decoration: underline;
  font-weight: normal;
  line-height: 2;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.spy {
  height: 300px;
  width: 250px;
  border-radius: 100%;
}

.webDevImg {
  border-radius: 100%;
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 30px;
}

.custServImg {
  border-radius: 100%;
  height: 200px;
  width: 300px;
  float: right;
  margin-right: 30px;
}

.adminImg {
  border-radius: 100%;
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.BUTTON_HGC {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #00A19D, #1E62D0);
   background-image: -moz-linear-gradient(top, #00A19D, #1E62D0);
   background-image: -ms-linear-gradient(top, #00A19D, #1E62D0);
   background-image: -o-linear-gradient(top, #00A19D, #1E62D0);
   background-image: -webkit-gradient(to bottom, #00A19D, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 40px;
   font-weight: 100;
   padding: 50px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.BUTTON_HGC:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
